apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

helmCharts:
- name: jaeger
  namespace: monitoring
  includeCRDs: false
  releaseName: jaeger
  version: 3.4.1
  repo: https://jaegertracing.github.io/helm-charts
  valuesFile: values.yaml

