apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

helmCharts:
- name: sealed-secrets
  namespace: kube-system
  includeCRDs: true
  releaseName: sealed-secrets
  version: 2.17.3
  repo: https://bitnami-labs.github.io/sealed-secrets
  valuesFile: values.yaml

