apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

commonLabels:
  argocd.argoproj.io/instance: argo-cd

helmCharts:
- name: argo-cd
  namespace: argocd
  includeCRDs: true
  releaseName: argo-cd
  version: 8.6.4
  repo: https://argoproj.github.io/argo-helm
  valuesFile: values.yaml

resources:
- namespace.yaml
- applications
