apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# namespace: argo

helmCharts:
- name: argo-workflows
  namespace: argo
  includeCRDs: true
  releaseName: argo-workflows
  version: 0.45.11
  repo: https://argoproj.github.io/argo-helm
  valuesFile: values.yaml

