apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

helmCharts:
- name: vault
  namespace: kube-system
  includeCRDs: false
  releaseName: vault
  version: 0.32.0
  repo: https://helm.releases.hashicorp.com
  valuesFile: values.yaml
