apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

helmCharts:
- name: kubeapps
  namespace: kube-system
  includeCRDs: true
  releaseName: kubeapps
  version: 18.0.1
  repo: https://charts.bitnami.com/bitnami
  valuesFile: values.yaml

