apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: nextcloud

helmCharts:
- name: nextcloud
  namespace: nextcloud
  includeCRDs: false
  releaseName: nextcloud
  version: 8.3.0
  repo: https://nextcloud.github.io/helm/
  valuesFile: values.yaml

