apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

helmCharts:
- name: thanos
  namespace: monitoring
  includeCRDs: false
  releaseName: thanos
  version: 17.3.1
  repo: https://charts.bitnami.com/bitnami
  valuesFile: values.yaml

