apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

helmCharts:
- name: kube-prometheus-stack
  namespace: monitoring
  includeCRDs: true
  releaseName: kube-prometheus-stack
  version: 78.2.1
  repo: https://prometheus-community.github.io/helm-charts
  valuesFile: values.yaml

