apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: longhorn-system

helmCharts:
- name: longhorn
  namespace: longhorn-system
  includeCRDs: true
  releaseName: longhorn
  version: 1.10.0
  repo: https://charts.longhorn.io
  valuesFile: values.yaml

