apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

helmCharts:
- name: loki
  namespace: monitoring
  includeCRDs: false
  releaseName: loki
  version: 6.49.0
  repo: https://grafana.github.io/helm-charts
  valuesFile: values.yaml
