apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: rook-ceph

helmCharts:
- name: rook-ceph
  namespace: rook-ceph
  includeCRDs: true
  releaseName: rook-ceph
  version: v1.16.5
  repo: https://charts.rook.io/release
  valuesFile: values-rook-ceph.yaml
- name: rook-ceph-cluster
  namespace: rook-ceph
  includeCRDs: true
  releaseName: rook-ceph-cluster
  version: v1.16.5
  repo: https://charts.rook.io/release
  valuesFile: values-rook-ceph-cluster.yaml

