apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

helmCharts:
- name: cert-manager
  namespace: kube-system
  includeCRDs: true
  releaseName: cert-manager
  version: v1.19.0
  repo: https://charts.jetstack.io
  valuesFile: values.yaml

resources:
- selfsigned.yaml
- letsencrypt-stg.yaml
# - letsencrypt-prod.yaml
