apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

helmCharts:
- name: ingress-nginx
  namespace: kube-system
  includeCRDs: true
  releaseName: ingress-nginx
  version: 4.13.5
  repo: https://kubernetes.github.io/ingress-nginx
  valuesFile: values.yaml

