apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: chaos-testing

helmCharts:
- name: chaos-mesh
  namespace: chaos-testing
  includeCRDs: true
  releaseName: chaos-mesh
  version: 2.7.3
  repo: https://charts.chaos-mesh.org
  valuesFile: values.yaml

