apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: airflow

helmCharts:
- name: airflow
  namespace: airflow
  includeCRDs: false
  releaseName: airflow
  version: 1.18.0
  repo: https://airflow.apache.org/
  valuesFile: values.yaml

