name: "CI"
on:
  pull_request:

jobs:
  eval:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install kustomize
        run: |
          curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh"  | bash
          mv kustomize /usr/local/bin/
          wget https://github.com/instrumenta/kubeval/releases/latest/download/kubeval-linux-amd64.tar.gz
          tar xf kubeval-linux-amd64.tar.gz
          mv kubeval /usr/local/bin/
      - name: eval
        run: make eval | tee make-eval-output.txt
      - name: upload eval output to artifact
        uses: actions/upload-artifact@v4
        with:
          name: make-eval-output
          path: make-eval-output.txt
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master
      - name: Install kustomize
        run: |
          curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh"  | bash
          mv kustomize /usr/local/bin/
      - name: Install kube-score
        run: brew install kube-score
      - name: Score manifests
        continue-on-error: true
        run: |
          for overlay in */overlays/dev; do kustomize build --enable-helm ${overlay} > ${overlay}/raw.yaml ; done
          kube-score score */overlays/dev/raw.yaml > score.txt
      - name: Post comments
        run: |
          cat << EOF > comment.md
          ## kube-score

          $(cat score.txt | grep -E "^\S" | xargs -I{} echo - {})

          <details>
          <summary>details</summary>

          \`\`\`txt
          $(cat score.txt)
          \`\`\`


          </details>
          EOF

          gh pr comment -F ./comment.md "${URL}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          URL: ${{ github.event.pull_request.html_url }}
  diff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install kustomize
        run: |
          curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh"  | bash
          mv kustomize /usr/local/bin/
      - name: diff
        run: make diff | tee make-diff-output.txt
      - name: upload diff output to artifact
        uses: actions/upload-artifact@v4
        with:
          name: make-diff-output
          path: make-diff-output.txt
