name: "Create cluster using KinD"
on: [pull_request]

jobs:
  kind:
    strategy:
      matrix:
        tag: [v1.27.3, v1.26.6, v1.25.9]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: engineerd/setup-kind@v0.5.0
        with:
          version: v0.20.0
          image: kindest/node:${{ matrix.tag }}
      - name: Test
        run: |
          kubectl version
          kubectl cluster-info
          kubectl get node -o wide
          kubectl get pods -n kube-system
          make create-base # for CRD
          # make apply
          kubectl wait -n argocd --for=condition=available deployment --all --timeout=300s
          kubectl get pods -A

