apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: synology-csi

resources:
- https://raw.githubusercontent.com/SynologyOpenSource/synology-csi/release-v1.1.1/deploy/kubernetes/v1.20/controller.yml
- https://raw.githubusercontent.com/SynologyOpenSource/synology-csi/release-v1.1.1/deploy/kubernetes/v1.20/csi-driver.yml
- https://raw.githubusercontent.com/SynologyOpenSource/synology-csi/release-v1.1.1/deploy/kubernetes/v1.20/namespace.yml
- https://raw.githubusercontent.com/SynologyOpenSource/synology-csi/release-v1.1.1/deploy/kubernetes/v1.20/node.yml
# - https://raw.githubusercontent.com/SynologyOpenSource/synology-csi/release-v1.1.0/deploy/kubernetes/v1.20/storage-class.yml

# external-snapshotter
- github.com/kubernetes-csi/external-snapshotter/client/config/crd?ref=v8.4.0
- github.com/kubernetes-csi/external-snapshotter/deploy/kubernetes/snapshot-controller?ref=v8.4.0
